@inject NavigationManager _navigationManager

<button type="reset" @onclick="GoBack" class="btn btn-outline-secondary">
    <span class="oi oi-arrow-left"></span>
    @Message
</button>

@code {
    [Parameter]
    public string TargetUrl { get; set; }
    [Parameter]
    public string Message { get; set; }

    private void GoBack()
    {
        _navigationManager.NavigateTo(TargetUrl);
    }
}
